{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="md:flex lg:flex xl:flex 2xl:flex">
    <div class="md:h-screen md:sticky md:top-0">
        {% include 'partials/_sidebar.html' %}
    </div>
    <div class="text-center flex flex-col mt-28 mx-auto">
        <img src="{% static 'logo.png' %}" alt="logo" class="mx-auto pb-12 iletisim-logo" style="max-width:350px;">
        <a target="_blank" class="mx-auto" href="https://wa.me/+905522168000"><img style="width: 80px" src="https://image.flaticon.com/icons/svg/124/124034.svg" alt="whatsapp"></a>
        <a target="_blank" class="text-center text-2xl text-green-500 mb-8 mt-2" href="https://wa.me/+905522168000">Whatsapp üzerinden iletişime geçmek için tıklayın!</a>
        <a href="tel:+905522168000"><span class="material-icons" style="font-size: 48px;">local_phone</span></a>
        <a href="tel:+905522168000" class="text-2xl mt-4">0552 216 80 00</a>
        <span class="material-icons mt-16" style="font-size: 48px;">location_on</span>
        <p class="mt-4 mx-2 text-2xl">Küçükbalıklı Mah. 3.Konyalı Sk. No:26/2 Osmangazi/Bursa</p>
        <iframe class="my-8 gmaps" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1523.1765496535604!2d29.077149109153556!3d40.223450718745994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14ca3fb3ba664fc9%3A0x923c64f0e806f03b!2zS8O8w6fDvGtiYWzEsWtsxLEsIDMuIEtvbnlhbMSxIFNrLiBObzoyNiwgMTYyNTAgRGVtaXJ0YcWfIER1bWx1cMSxbmFyIE9zYi9Pc21hbmdhemkvQnVyc2EsIFTDvHJrZWk!5e0!3m2!1sde!2sde!4v1618073149442!5m2!1sde!2sde" height="600"  style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
</div>
{% endblock %}